@font-face {
    font-family: 'DOSGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DOSGothic', sans-serif;
    margin: 0;
    padding: 0;
}
